.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url(./assets/ComplexNiceBadger-max-1mb.gif);
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-label {
  color: turquoise;
}

.form-select {
  margin: 1vw;
  text-align: center;
}

.radio-input {
  margin: 1vw;
}

.radio-div {
  position: relative;
  margin: 0 auto;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  text-align: center;
  padding-left: 1em;
}

.user-input {
  text-align: center;
  margin-left: 1vw;
}

h1 {
  margin-left: 1.5vw;
}

.open-tdb-logo {
  width: 7vw;
}

.the-trivia-api-logo {
  font-family: Orbitron, sans-serif;
  font-style: italic;
  color: #dfa5df;
  font-size: clamp(1rem, -0.4375rem + 4.1665vw, 1.5rem);
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #bd47bd,
    0 0 8px #bd47bd, 0 0 12px #bd47bd;
  word-spacing: 0.3rem;
  font-weight: 800;
  -webkit-text-decoration: underline double;
  text-decoration: underline;
  -webkit-text-decoration-color: #92d8d8;
  text-decoration-color: #92d8d8;
}

.button {
  position: relative;
  width: auto;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px wheat;
  background: #f39c12;
  text-align: center;
  padding: 6px 18px 4px;
  margin: 1vw;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button:active {
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 4px;
}

h1,
h2 {
  font-style: italic;
  color: darkturquoise;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
